{% extends 'index.html' %}
{% block title %}Login To E-Raksha!{% endblock title %}


{% block style %}
  background-color:lawngreen; color:red ; font-weight:900;font-family:'Oswald', sans-serif;
{% endblock style %}
{% block body %}


{% if message %}
<div class="alert alert-warning alert-dismissible fade show messages" role="alert">
    {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </p>
    {% endfor %}
</div>
{% endif %}
<div style="margin-left:45px;margin-top:45px;display: flex;justify-content:center; align-content: center;  flex-direction: column;align-items:center;font-family: 'Fredoka', sans-serif;flex-wrap: wrap;">

    <div class="container-2"
        style="border:white;border-radius:15px;display: flex;align-items:center;justify-content:center;flex-direction:column;width:50vw; height:50vw;">

        <h3 style="font-weight: 900; font-family:'Oswald', sans-serif ;">Login To TechnoCrats</h3>
        <form method="post" action="{% url 'login' %}"
            style="border:2px solid black;border-radius:5px; padding:12px;width:27em;height:19em;margin:12px;">
            {% csrf_token %}

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" name="email" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                <div id="emailHelp" style="color:red" class="form-text">We'll never share your username with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="pass" class="form-control" id="exampleInputPassword1">
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <a href="{% url 'signup' %}">Not Have an account ? Sign Up to Technocrats</a>

    </div>
</div>

{% endblock body %}